<head>
    <title>Snappy Snips</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
  <div class="container">
    <h1>@Model["stylist"].GetName()</h1>
    <div class="well">
      <h2>Style/Specialties</h2>
      <p>Style: @Model["stylist"].GetStyle()</p>
      @foreach(var special in Model["specialties"])
      {
        <p>Specialty: @special.GetName()</p>
      }
    </div>
    <div class="well">
      <h2>Client List</h2>
      @foreach(var client in Model["clients"])
      {
              <p>@client.GetName() | Phone: @client.GetPhone() | <a href="/Client/@client.GetId()/View">Edit</a></p>
      }
    </div>
    <form action="/Stylist/@Model["stylist"].GetId()/Update">
      <button class="btn btn-success" type="click">Update Stylist</button>
    </form>
    <form action="/Stylist/@Model["stylist"].GetId()/Delete" method="post">
      <button class="btn btn-danger" type="click">Delete Stylist</button>
    </form>
    <form action="/Stylist">
      <button class="btn btn-info" type="click">Back</button>
    </form>
    <form action="/">
      <button class="btn btn-warning" type="click">Home</button>
    </form>
  </div>
</body>
